.post-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 0em;
    padding-top: 0.618em;
}
.post-nav-prev {
    margin-right: auto;
    max-width: 42%;
}
.post-nav-next {
    margin-left: auto;
    text-align: right;
    max-width: 42%;
}
