.post-meta {
    color: var(--color-contrast-medium);
    font-size: 80%;
    text-align: center;
    margin-top: -2em;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: var(--color-contrast-medium);

        &:hover {
            color: var(--color-primary);
        }
    }
}

.home {
    .post-meta {
        justify-content: right;
        margin-bottom: 3em;
        margin-top: 0em;
    }
}

.category-link.p-category {
    border-bottom: 2px double transparent;

    &:hover {
        border-color: var(--color-primary);
    }
}

.post-meta-item {
    margin: 0.5em;
    display: inline-block;
    color: var(--color-contrast-medium);
    //color: alpha(var(--color-contrast-medium), 0.5);
}

.post-meta-icon {
    fill: var(--color-contrast-medium);
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}
