
.post-meta {
    margin-bottom: 0em;
    padding-bottom: 0em;
    margin-top: -.5em;
    padding-top: .5em;
    color: #fff;
    a,.post-meta-icon {
        color: #fff;
        fill: #fff;
        font-weight: 700;
        &:hover {
            color: var(--color-primary);
            font-weight: 700;
        }
    }
    .post-meta-item {
        margin-top: -.5em;
        padding-top: .5em;
        background-color: #674970;
        color: #fff;
        font-weight: 700;
    }
}
.post-meta {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.post-meta-item {
    margin-right: 15px;
    font-size: 14px;
   // background-color: #ecf0f1; /* 背景颜色 */
}

.post-meta-icon {
    margin-right: 5px;
}

.post-meta-item.category a {
    text-decoration: none;
}
    
.category-link.p-category {
    border-bottom: 4px double transparent;

    &:hover {
        font-weight: 500;
        border-color: var(--color-primary);
    }
}

.post-meta-item {
    display: inline-block;
    //color: alpha(var(--color-contrast-medium), 0.5);
}

.post-meta-icon {

    margin-bottom: 0.3em;
    margin-right: 0.3em;
}
