/*article.content.post.home {
    position: relative;
    &::after,&::before {
        position: absolute;
color: #777;
    }
    &::before {
        left: -2em;
        bottom: -1.4em;
        content: '✄';
        width: 1.4em;
        height: 1.4em;
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: 700;
    }
    &::after {
        left: -2em;
        bottom: -1.2em;
        content: '-----------------------------------------------------------------------------------------------------------------';
        width: calc(100% + 2em);
        height: 1em;
        overflow: hidden;
    }
    h2 {
        padding-left: .2em;
        margin-bottom: .5em;
    }
}

.summary-title-link {
    color: var(--color-contrast-higher);
}

.summary {
    line-height: $lineHeight;
    display: block;
    color: #333;
    text-indent: 2rem;
    padding: .2em;
    margin-bottom: 1em;
}

.read-more-container {
    text-align: center;
    margin-top: 1.618em;
}

.read-more-link {
    display: inline-block;
}
*/

.summary {
    text-indent: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    line-height:  2.2em;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 3em;
}

.pagination-item {
    margin: 0 5px;
}


.pagination-item a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination-item.active {
    display: inline-block;
}

.pagination-item.active a {
    background-color: #674970;
    color: #fff;
}

.pagination-prev,
.pagination-next {
    margin: 0 5px;
}

.pagination-prev a,
.pagination-next a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
}

.pagination-prev a:hover,
.pagination-next a:hover,
.pagination-item a:hover {
    color: #fff;
    background-color: #674970;
}


.content.post.home {
    padding: .3em;
    margin: .3em;
    border: 1px solid #ccc;
}