.tag-cloud {
    text-align: center;
}

.tag-cloud-item {
    margin: 0.5rem;
    display: inline-block;
    border-bottom: 4px double transparent;
    &:hover{
        border-color: var(--color-primary);
    }
}
