<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            <main class="fof">
                {{ with or .Site.Params.fofVideoWebm .Site.Params.fofVideoMp4 }}
                <video poster="{{ $.Site.Params.fofPoster }}" id="bgvid" playsinline autoplay muted loop>
                    {{ with $.Site.Params.fofVideoWebm }}
                    <source src="{{ . }}" type="video/webm" />
                    {{ end }}
                    {{ with $.Site.Params.fofVideoMp4 }}
                    <source src="{{ . }}" type="video/mp4" />
                    {{ end }}
                </video>
                {{ end }}
                <div class="main-inner">
                    <h1>{{ i18n "pageNotFound" }}</h1>
                    <p>{{ i18n "pageNotFoundDescription" }}</p>
                    <p>{{ i18n "pageNotFoundSuggestion" }}</p>
                </div>
            </main>
        </div>
        
        <script>
            // 获取当前URL
            var currentUrl = window.location.href;
            
            // 检查URL是否包含最后一个斜杠后的非法字符
            var lastSlashIndex = currentUrl.lastIndexOf('/');
            if (lastSlashIndex !== -1) {
                var remainingPath = currentUrl.substr(lastSlashIndex + 1);
                
                // 检查是否包含非法字符（例如括号）
                if (remainingPath.match(/[\(\)#]/)) {
                    // 包含非法字符，将其移除并重定向
                    var validUrl = currentUrl.slice(0, lastSlashIndex) + '/' + remainingPath.replace(/[\(\)#]/g, '');
                    window.location.replace(validUrl);
                }
            }
        </script>
    </body>
</html>