
// shortcode - poetry
//@import url('https://unpkg.com/lxgw-wenkai-webfont@v1/style.css');

.poet {
    /* 原版 */
    /* font-family: "LXGW WenKai", sans-serif; */
    font-family: "LXGW WenKai Screen", sans-serif;
    /* 屏幕优化版 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 1em;
    max-width: 1020px;
    font-size: 1em;
}

.zh-line .poet-md { 
    writing-mode:inherit;
}
.zh-line .poet-md {
    line-height: 1em;
}

.poet-container {
    width: 100%;
    padding: .2em;
    background: rgba($color: saddlebrown, $alpha: 0);
    border-radius: .3em;
    transition-property: all, left, top, height;
    transition-duration: 1s;

    &:hover {
        background: rgba($color: saddlebrown, $alpha: .1);
        transform: scale(1.1);
        border: 2px rgb(194, 140, 102) double;
    }
}

.poet-title,
.poet-author {
    margin-bottom: .4em;
    white-space: nowrap;
    /* 防止文本换行 */
    overflow: hidden;
    /* 隐藏溢出文本 */
    text-overflow: ellipsis;
    /* 如果文本溢出，则使用省略号表示 */
    direction: ltr;
    line-height: 1em;
    /* 根据需要调整行高 */
    width: 100%;
    /* 根据需要设置宽度 */
    text-align: center;
    font-size: 1.1em;
}

.poet-title {
    padding-bottom: 1em;
    text-indent: 1em;
}

.poet-author {
    margin-bottom: 0;
    text-align: end;
    font-size: .8em;
    margin-top: -.7em;
}

.poet-container span {
    border-radius: .2em;
    padding: .1em;
}

.poet-md {
    writing-mode: vertical-lr;
    /* 从上到下，从右到左 */
    text-orientation: mixed;
    /* 混合方向，确保文本正确呈现 */
    white-space: wrap;
    /* 防止文本换行 */
    font-size: 1em;
    /* 根据需要调整字体大小 */
    line-height: 1.5;
    /* 根据需要调整行高 */
}

.poet-md br {
    margin-right: 1em;
}
.zh-line .poet-md br {
    margin-right: 0;
    margin-bottom: 1em;
}
.zh-line .poet-title {
    margin-bottom: 0;
    padding-bottom: 1em;
}
.zh-line .poet-md {
    margin-top: -2em;
    padding-bottom: 1em;
}